* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

h2 {
    background-color: #1CD1B0;
    height: 38px;
    padding: 5px 27px;
}

h1 {
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    font-size: 300%;
    height:101px;
    padding: 20px 27px;
}

section {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

article {
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 529px;
    justify-content: space-around;
    position: relative;
    width: 300px;
}

i {
    color: red;
    font-size: 30px;
    left: 30px;
    position: absolute;
    top: 20px;
    z-index: 1;
}

article img {
    position: absolute;
    top: 0px;
}

.perfil {
    left: 90px;
    position: absolute;
    top: 130px;
}

.perfil img {
    border-radius: 100%;
}

h3 {
    font-size: 160%;
    padding-top: 250px;
}

article p {
    padding: 0 15px;
    text-align: left;
}

button {
    background-color: #00669F;
    border: none;
    color: #fff;
    height: 48.52px;
    width: 128.78px;
}

.btn {
    text-align: center;
}

footer {
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    height: 51px;
    padding: 15px 0 0 10px;
}

.plus-flotante {
    position:absolute;
    right: 7%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fa-circle-plus {
    color: #00669F;
    font-size: 60px;
}