* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

h2 {
    background-color: #1CD1B0;
    height: 38px;
    padding: 5px 27px;
}

h1 {
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    font-size: 300%;
    height:101px;
    padding: 20px 27px;
}

main {
    margin: 142px 0;
}

section {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

article {
    background-color: #F3F3F3;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 529px;
    margin: 100px 20px;
    position: relative;
    width: 302px;
}

i {
    color: red;
    font-size: 30px;
    left: 25px;
    position: absolute;
    top: 15px;
}

.perfil {
    left: 90px;
    text-align: center;
    position: absolute;
    top: 130px;
}

.perfil img {
    border-radius: 100%;
}

h3 {
    font-size: 160%;
    position: relative;
    top: 80px;
    text-align: center;
}

article p {
    padding: 20px;
    position: relative;
    top: 80px;
    text-align: left;
}

button {
    background-color: #00669F;
    border: none;
    color: #fff;
    height: 48.52px;
    position: relative;
    top: 80px;
    width: 128.78px;
}

.btn {
    text-align: center;
}

footer {
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    height: 51px;
    padding: 15px 0 0 10px;
}
